html, body{
	padding: 0;
	margin: 0;
}

.main{
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	padding: 20px;
}

.box-contrainer{
	height: 90%;
	width: 50%;
	display: grid;

	grid-template-rows:repeat(15, 1fr) ;
	grid-template-columns:repeat(15, 1fr) ;

	
	justify-content: center;
	align-content: center;


}

.box{
	border: 1px solid;
	border-radius: 5%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.big_box_green{
	grid-column: 1/7;
	grid-row: 1/7;
	box-sizing: border-box;
}

.big_box_yellow{
	grid-column: 10/16;
	grid-row:1/7 ;
	box-sizing: border-box;
}

.medium_box{
	grid-column: 7/10;
	grid-row:7/10;
	background: rgb(5,36,0);
background: linear-gradient(90deg, rgba(5,36,0,1) 0%, rgba(23,121,9,1) 47%, rgba(0,5,255,1) 100%)
}

.top_half{
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	width: 100%;
	height: 50%;
	background-color: yellow;
}

.buttom_half{
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	width: 100%;
	height: 50%;
	background-color: red;
}

.left_half{
	clip-path: polygon(100% 50%, 0 0, 0 100%);
	width: 100%;
	height: 50%;
	background-color: green;
}

.big_box_red{
	grid-column: 1/7;
	grid-row: 10/17;
}


.big_box_red{
	grid-column: 1/7;
	grid-row: 10/17;
}

.big_box_blue{
	grid-column: 10/16;
	grid-row: 10/17;
}

.inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.innerBox{
	border: 1px solid;
	height: 80%;
	width: 80%;
	display: grid;
	grid-template-rows:repeat(2, 50px) ;
	grid-template-columns:repeat(2, 50px) ;


	
	justify-content: space-evenly;
	align-content: space-evenly;

	background-color: rgb(256, 256, 256);
	box-sizing: border-box;
}

.redBox{
	background-color: red;
}

.blueBox{
	background-color: blue;
}

.greenBox{
	background-color: green;
}

.yellowBox{
	background-color: yellow;
}

.guti-wrapper {
    width: 25%; /* Set the width to 25% for 4 boxes per row */
    height: 25%;
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 3%;
    border: .2px solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.guti-red {
    background: rgba(121, 0, 0, 0.7);
    border: 1px solid #520000;
}

.guti-green {
    background: rgba(0, 148, 0, 0.7);
    border: 1px solid #004f00;
}

.guti-blue {
    background: rgba(0, 0, 255, 0.7);
    border: 1px solid #00003a;
}

.guti-yellow {
    background: rgba(140, 129, 0, 0.7);
    border: 1px solid #3a3a00;
}

.guti {
    position: absolute;
    height: 250%;
    width: 250%;
    border-radius: 50%;
    box-sizing: border-box;
}





.about{
	height: 10%;
	width: auto%;
	display: flex;
	position: button;
	justify-content: center;
}


@media only screen and (min-width: 819px) {
  .medium_box {
	grid-column: 7/10;
	grid-row:7/10 ;

  }


  
}

@media only screen and (max-width: 700px) {

	 .box-contrainer{
  	width: 100%;
  	height: 100%;
  }
  .medium_box {
	grid-column: 7/10;
	grid-row:7/10 ;

  }
 

.innerBox{
	border: 1px solid;
	height: 60%;
	width: 60%;
	display: grid;
	grid-template-rows:repeat(2, 1fr) ;
	grid-template-columns:repeat(2, 1fr) ;


	
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	justify-items: center;
}

.inner .box{
	height: 50%;
	width:50%;
}
 
}