html, body{
	padding: 0;
	margin: 0;
}

.box-contrainer{
	display: grid;

	grid-template-rows:repeat(15, 50px) ;
	grid-template-columns:repeat(15, 50px) ;

	
	justify-content: center;
	align-content: center;

}

.box{
	border: 1px solid;
}

.big_box_green{
	grid-column: 1/7;
	grid-row: 1/7;
}

.big_box_yellow{
	grid-column: 10/16;
	grid-row:1/7 ;
}

.medium_box{
	grid-column: 7/10;
	grid-row:7/10 ;
}

.big_box_red{
	grid-column: 1/7;
	grid-row: 10/17;
}


.big_box_red{
	grid-column: 1/7;
	grid-row: 10/17;
}

.big_box_blue{
	grid-column: 10/16;
	grid-row: 10/17;
}

.inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.innerBox{
	border: 1px solid;
	height: 80%;
	width: 80%;
	display: grid;
	grid-template-rows:repeat(2, 50px) ;
	grid-template-columns:repeat(2, 50px) ;


	
	justify-content: space-evenly;
	align-content: space-evenly;

	background-color: rgb(256, 256, 256);
}

.redBox{
	background-color: red;
}

.blueBox{
	background-color: blue;
}

.greenBox{
	background-color: green;
}

.yellowBox{
	background-color: yellow;
}